@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: 700;
  text-decoration: underline;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: rgb(14, 15, 17);
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
